.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}


::ng-deep .mat-progress-bar {
    border-radius: 2px;
}
::ng-deep .mat-progress-bar-fill::after {
    background-color: #1E457C;
}
mat-form-field {
  margin-right: 12px;
}
.signin-content {
  padding:10px 1rem;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  transition-delay: 500ms;
  transition-property: transform;
  transition-duration: 2s;
  transform: scale(3.50);
  animation: example ease-in-out;
  animation-duration: 2s;
  &::after {
    transition-property: transform;
    transform: scale(1);
    transition-duration: 2s;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(34, 241, 159, 0.55);

  }

  .shake{
    animation: shake 0.5s linear;
  }
}
.full-width-input {
  width: 100%;
}
img{
  position: absolute;
  right: 50px;
  width: 110px;
}
.content {
  position: relative;
  width: 1000px;
  color: #fff;
  padding-top:300px;

  h1 {
    font-weight: 900;
    text-align: center;
    display: block;
    font-size: 1em;
    margin: 0px;
  }

  h2 {
    font-weight: 500;
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin: 0px;
  }

  .login-error {
    text-align: center;
    font-size: 14px;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 17px;
  }

  .login-container {
    text-shadow: 0 0 4px #000;
    display: block;


    .login-form {
      flex-grow: 1;
      display: flex;
      margin-top: 10px;

      input {
        flex-grow: 1;
        padding: 13px;
      }
      button {
        border: none;
        flex-basis: 160px;
        height: 35px;
        background-color: #004577;
        color: #fff;
      }
    }

    .login-form-xs{
      //flex-grow: 1;
      margin-top: 15px;

      input {
        //flex-grow: 1;
        padding: 13px;
        width: 70%;
        align-content: center;

      }
      button {
        border: none;
        flex-basis: 300px;
        height: 25px;
        background-color: #004577;
        color: #fff;
        width: 70%;
        margin: 15px 0px;
      }
    }

    .subform {
      margin-top: 8px;
      font-size: 10px;
      display: block;
      text-align: right;
      .forgot-link {
        cursor: pointer;
        text-decoration: underline;
        color: #fff;
        float: center;
      }
     }
     //styles for mobile(xs) Displays
     .subform-xs {
      margin-top: 8px;
      font-size: 10px;
      display: block;
      text-align: center;
      .forgot-link {
        cursor: pointer;
        text-decoration: underline;
        color: #fff;
        float: center;
      }
     }
  }
}
