<section class="login-container">
<div class="signin-content">
  </div>
 <div class="content">
   <h1 style="font-size: 1.7em">ASSITANCE MONEY LAUNDERING</h1>
    <div class=" p-4">

      <mat-card style=" background-color: whitesmoke;padding-bottom: 8px;padding-top: 8px;padding-left: 8px;padding-right: 8px;">
            <div class="row">
                <div class="col-sm-9">
                  <mat-form-field appearance="outline" style="width: 100%; padding-bottom: 5px;">
                     <mat-label>Search </mat-label>
                    <input (keyup.enter)="getItem()" [(ngModel)]="keyword" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-info btn-block" style="height: 34px" (click)="getItem()">Searching</button>
                </div>
              </div>
      </mat-card>
    </div>
 </div>
</section>
  <a href="https://www.arvato.com/de.html" target="_blank">
      <img class="img" style="margin-top: 200px;" src="./assets/images/arvato_weiss_1000px.png">
    </a>
